name: Build

on:
  push:
    paths-ignore:
      - '*.md'
      - '*.yml'
      - '.github/workflows/**'
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build kool
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Enable Android target
        run: ./gradlew enableAndroidPlatform
      - name: Build everything
        run: ./gradlew build